<div class="security-container">
  <mat-icon style="font-size: 20px; padding-bottom: 10px">security</mat-icon>
  <div>{{ "sortingBar.safetyMessage" | translate }}</div>
</div>
<mat-divider></mat-divider>
<div class="main-container">
  <div class="main-container1">
    <div>{{ "sortingBar.list" | translate }}</div>
    <div>{{ "sortingBar.sortBy" | translate }}</div>
  </div>
  <div class="main-container2">{{ "sortingBar.departure" | translate }}</div>
  <div class="main-container3">{{ "sortingBar.duration" | translate }}</div>
  <div class="main-container4">{{ "sortingBar.arrivals" | translate }}</div>
  <div class="main-container5">{{ "sortingBar.ratings" | translate }}</div>
  <div class="main-container6">{{ "sortingBar.fare" | translate }}</div>
  <div class="main-container7">{{ "sortingBar.seatsAvailable" | translate }}</div>
</div>
