

<footer class="flex flex-col bg-white-100 py-16 items-center">
    <div class="flex flex-col-reverse md:text-base text-sm md:flex-col w-full px-6 md:px-0 md:w-[80%] max-w-[1300px]">

        <!-- footer upper part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">
            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topRTCs' | translate }}</li>
                <li><a href="">{{ 'footer.links.topRTCs.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topRTCs.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topRTCs.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topRTCs.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topRTCs.4' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.others' | translate }}</li>
                <li><a href="">{{ 'footer.links.others.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.others.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.others.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.others.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.others.4' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topBusRoutes' | translate }}</li>
                <li><a href="">{{ 'footer.links.topBusRoutes.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topBusRoutes.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topBusRoutes.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topBusRoutes.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topBusRoutes.4' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topCities' | translate }}</li>
                <li><a href="">{{ 'footer.links.topCities.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topCities.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topCities.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topCities.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.topCities.4' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.redRail' | translate }}</li>
                <li><a href="">{{ 'footer.links.redRail.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.redRail.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.redRail.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.redRail.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.redRail.4' | translate }}</a></li>
            </ul>

        </div>
        <!-- footer upper part ends here  -->

        <hr class="my-8">
        <!-- footer bottom part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">

            <div class="flex flex-col gap-2 md:w-[25%]">
                <div>
                    <img class="w-28" src="../../../assets/red-bus-with-word-bus-it_600323-482.avif" alt="">
                </div>
                <p>{{ 'footer.tedbusDescription' | translate }}</p>
            </div>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.aboutTedbus' | translate }}</li>
                <li><a href="">{{ 'footer.links.aboutTedbus.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.4' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.5' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.6' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.7' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.aboutTedbus.8' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.info' | translate }}</li>
                <li><a href="">{{ 'footer.links.info.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.4' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.5' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.6' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.info.7' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.globalSites' | translate }}</li>
                <li><a href="">{{ 'footer.links.globalSites.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.globalSites.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.globalSites.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.globalSites.3' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.globalSites.4' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.globalSites.5' | translate }}</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.ourPartners' | translate }}</li>
                <li><a href="">{{ 'footer.links.ourPartners.0' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.ourPartners.1' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.ourPartners.2' | translate }}</a></li>
                <li><a href="">{{ 'footer.links.ourPartners.3' | translate }}</a></li>
            </ul>

        </div>
        <!-- footer bottom part ends here  -->

    </div>
</footer>