.route-planner-container {
  text-align: center;
  margin: 20px;
}

.route-planner-heading{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.location-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.location-inputs input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.location-inputs button {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.location-inputs button:hover {
  background-color: #1565c0;
}

.map-container {
  margin-top: 20px;
  height: 400px;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.route-details {
  margin-top: 20px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.route-details h3 {
  margin-bottom: 10px;
}

.route-instructions {
  margin-top: 20px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.route-instructions h3 {
  margin-bottom: 10px;
}

.route-instructions ul {
  list-style-type: none;
  padding: 0;
}

.route-instructions ul li {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.instruction-btn{
  background-color: #4CAF50;
  color: #fff;
  padding:0.2rem 0.4rem;
  border-radius: 30px;

}

/* spinner area */


@keyframes ldio-yzaezf3dcmj {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-yzaezf3dcmj div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #c40716;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}.ldio-yzaezf3dcmj div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}
.ldio-yzaezf3dcmj > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-yzaezf3dcmj div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ldio-yzaezf3dcmj div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}
.ldio-yzaezf3dcmj > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ldio-yzaezf3dcmj div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}
.ldio-yzaezf3dcmj > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ldio-yzaezf3dcmj div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}
.ldio-yzaezf3dcmj > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ldio-yzaezf3dcmj div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}
.ldio-yzaezf3dcmj > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ldio-yzaezf3dcmj div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}
.ldio-yzaezf3dcmj > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ldio-yzaezf3dcmj div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}
.ldio-yzaezf3dcmj > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }